.page-wrapper {
    max-width: 1440px;
    margin: auto;
}

.heading {
    font-size: 5vw;
    padding-top: 200px;
    font-family: fantasy;
    color: pink;
    font-style: italic;
    margin: auto;
    text-align: center;
}